<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>MAIN</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-raiting.css">
    <link rel="stylesheet" href="css/style-raiting-man.css">
    <link rel="stylesheet" href="css/calendar-ui.css">
    <script src="js/jquery-1.6.4.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/script.js"></script>
    <script type="text/javascript" src="js/jquery.rating-2.0.min.js"></script>
</head>

<body>  
   
   
    <header class="header main-container">
            <div class="logo"><a href="">My tender</a></div>
            <div id="header-menu" class="header-menu glyphicon glyphicon-align-justify"></div>
            
            <div class="log-reg">
                <span id="log" class="account">Вход</span>
                <span id="reg" class="account">Регистрация</span>
            </div>
            <div id="login" class="modal-window">
                <div id="modal-close-login" class="modal-close glyphicon glyphicon-remove"></div>
                <section class="container">
                    <div class="login">
                      <h1>Войти в личный кабинет.</h1>
                      <form method="get" action="/registration/tender">
                        <p><input type="text" name="login" value="" placeholder="Логин или Email"></p>
                        <p><input type="password" name="password" value="" placeholder="Пароль"></p>
                        <p class="remember_me">
<!--
                          <label>
                            <input type="checkbox" name="remember_me" id="remember_me">
                            Запомнить меня
                          </label>
-->
                        </p>
                        <p class="submit"><input type="submit" name="commit" value="Войти"></p>
                      </form>
                    </div>

<!--
                    <div class="login-help">
                      <a href="index.html">Забыли пароль?</a> Восстановите его!
                    </div>
-->
                </section>
            </div>
            <div id="regist" class="modal-window">
                <div id="modal-close-regist" class="modal-close glyphicon glyphicon-remove"></div>
                <section class="container">
                    <div class="login">
                      <h1>Регистрация</h1>
                      <form method="post" action="/registration/tender">
                        <p><input type="text" name="name" value="" placeholder="Ваше Имя"></p>
                        <p><input type="text" name="login" value="" placeholder="Ваш Email"></p>
                        <p class="submit"><input type="submit" name="turist-agent" value="Агент"<p>
                      </form>
                    </div>
                </section>
        </div>
            
            <div id="overlay"></div>
    </header>
                
     <div id="menu" class="modal-menu">
                   <div class="content-menu main-container">
                        <div id="navigation-menu" class="navigation-menu col-xs-6">
                               <nav class="navigation">
                                    <ul>
                                        <li><a href="#">туристам</a></li>
                                        <li><a href="#">турагентам</a></li>
                                        <li><a href="#">просмотреть тендера</a></li>
                                        <li><a href="#">тарифы</a></li>
                                        <li><a href="#">о сервисе</a></li>
                                    </ul>
                                </nav>
                        </div>

                        <div id="contacts-menu" class="contacts-menu col-xs-6">                        
                             <div class="contacts">
                                 <div class="hot-line-number"><p>050 837 39 53<br><span>Горячая линия</span></p></div>
                                 <div class="button-zvonok"><a id="zvonok" class="zvonok" href="#">Заказать звонок</a></div>
                                 <p><input type="text" name="client-number" value="" placeholder="Введите номер"></p>
                                 <div class="button-send"><a id="send" class="sebd" href="#">Отправить</a></div>
                             </div>
                        </div>

                        <div id="social" class=" social col-xs-12">
                             <div class="social">
                                 <ul>
                                     <li><a href="#"><i class="fa fa-vk fa-2x"></i></a></li>
                                     <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                                     <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
                                     <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                                 </ul>
                             </div>
                        </div>
                    </div>
                </div>
    
    
    <div id="center-layer" class="center-layer">
        <div class="center-layer-head">
            <div class="center-layer-title">MY TENDER</div>
            <div class="center-layer-text">Проект My Tender представляет собой платформу, на которой взаимодействуют две категории аудитории.</div>
            <a class="view-tenders" href="list.html">ПОСМОТРЕТЬ ТЕНДЕРА</a>
        </div>
        <div id="publication" class="publication-link">
            ПУБЛИКАЦИЯ ТЕНДЕРА
            <div class="glyphicon glyphicon-arrow-down"></div>
        </div>
    </div>   

    <div id="tender-menu" class="tender-menu main-container row">
        <div id="country" class="country col-xs-2">
                <p>Страна</p><br>
            <input class="input" type="text">
        </div>
        <div id="date" class="col-xs-2">
            <p>Дата</p><br>
            <input type="text" id="datepicker1" placeholder="Дата заезда">
            <input type="text" id="datepicker2" placeholder="Дата выезда">
        </div>
        <div id="budjet" class="col-xs-2">
            <p>Бюджет</p><br>
            <input class="input" type="text">
        </div>
        <div id="stars" class="col-xs-2">
            <p>Звезд</p><br>
           <div id="reviewStars-input">
                <input id="star-4" type="radio" name="reviewStars"/>
                <label title="gorgeous" for="star-4"></label>

                <input id="star-3" type="radio" name="reviewStars"/>
                <label title="good" for="star-3"></label>

                <input id="star-2" type="radio" name="reviewStars"/>
                <label title="regular" for="star-2"></label>

                <input id="star-1" type="radio" name="reviewStars"/>
                <label title="poor" for="star-1"></label>

                <input id="star-0" type="radio" name="reviewStars"/>
                <label title="bad" for="star-0"></label>
    
            </div>
        </div>
        <div id="people" class="col-xs-2">
            <p>Людей</p><br>
            <div id="reviewMan-input">
                <input id="man-4" type="radio" name="reviewMan"/>
                <label title="gorgeous" for="man-4"></label>

                <input id="man-3" type="radio" name="reviewMan"/>
                <label title="good" for="man-3"></label>

                <input id="man-2" type="radio" name="reviewMan"/>
                <label title="regular" for="man-2"></label>

                <input id="man-1" type="radio" name="reviewMan"/>
                <label title="poor" for="man-1"></label>

                <input id="man-0" type="radio" name="reviewMan"/>
                <label title="bad" for="man-0"></label>
            </div>
        </div>
        <div class="col-xs-2 tender-menu-button-next">
            <a id="next" class="next-button" href="#">ДАЛЕЕ</a>
        </div>
    </div>
</body>
</html>












