<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>MAIN</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-raiting-man.css">
</head>
<body>  
    <div class="kabinet">
        <div id="kabinet-tourist" class="kabinet-tourist kabinet-tourist-head-top">
            <div>Личный кабинет туриста</div>
        </div>
        <div class="kabinet-tourist-zag kabinet-container row">
            <div class="col-xs-1">
                Размещено
            </div>
            <div class="col-xs-2">
                Дата вылета
            </div>
            <div class="col-xs-2">
                Место
            </div>
            <div class="col-xs-2">
                Туристов
            </div>
            <div class="col-xs-1">
                 Бюджет
            </div>
            <div class="col-xs-1">
                Статус
            </div>
            <div class="col-xs-1">
                отклики
            </div>
            <div class="col-xs-2">
                
            </div>
        </div>
        <div id="kabinet-tourist-generate" class="kabinet-tourist-generate kabinet-container row">
            <div id="data-post" class="col-xs-1">
                <p>12.12.12</p>
            </div>
            <div id="data-travel" class="col-xs-2">
                <p>12.12.13</p>
            </div>

            <div id="place-travel" class="col-xs-2">
                <p>Укураина. киве</p>
            </div>
            <div id="tourist" class="col-xs-2">
                <div id="reviewMan-input">
                    <input id="man-4" type="radio" name="reviewMan"/>
                    <label title="gorgeous" for="man-4"></label>

                    <input id="man-3" type="radio" name="reviewMan"/>
                    <label title="good" for="man-3"></label>

                    <input id="man-2" type="radio" name="reviewMan"/>
                    <label title="regular" for="man-2"></label>

                    <input id="man-1" type="radio" name="reviewMan"/>
                    <label title="poor" for="man-1"></label>

                    <input id="man-0" type="radio" name="reviewMan"/>
                    <label title="bad" for="man-0"></label>
                </div>
            </div>
            <div id="budget" class="col-xs-1">
                 <p>200$</p>
            </div>
            <div id="status" class="col-xs-1">
                 <p>В работе</p>
            </div>
            <div id="answer" class="col-xs-1">
                 <p>54</p>
            </div>
            <div id="correct-button" class="col-xs-2">
                <button type="submit" name="cabinet-tourist-submit">Отредактировать</button>
            </div>
        </div>    

    </div>
</body>
</html>
