<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>MAIN</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-raiting-man.css">
</head>
<body>  
    <div class="otzivi">
        <div id="otzivi-tender" class="otzivi-tender otzivi-tender-head-top">
            <div>Личный кабинет агента</div>
        </div>
        <div class="otzivi-tender-head-bottom">
            <div class="tender-info kabinet-container row">
                <div class="col-xs-6 tender-info-left">
                    <div>Текущий тариф:</div>
                </div>
                <div class="col-xs-6 tender-info-right">
                    <div>Сравнение тарифов</div>
                </div>
            </div>
        </div>
        <div class="tender-otzivi-zag kabinet-container row">
            <div class="col-xs-2">
                Дата
            </div>
            <div class="col-xs-2">
                ID тендера
            </div>
            <div class="col-xs-2">
                Туристов
            </div>
            <div class="col-xs-2">
                Бюджет
            </div>
            <div class="col-xs-2">
                 Страна
            </div>
            <div class="col-xs-2">
                Ответов
            </div>
        </div>
        <div id="tender-otzivi-generate" class="tender-otzivi-generate kabinet-container row">
            <div id="country" class="col-xs-2">
                <p>Украина, Киев</p>
            </div>
            <div id="city" class="col-xs-2">
                <p>Киев</p>
            </div>

            <div id="turist" class="col-xs-2">
                <div id="reviewMan-input">
                    <input id="man-4" type="radio" name="reviewMan"/>
                    <label title="gorgeous" for="man-4"></label>

                    <input id="man-3" type="radio" name="reviewMan"/>
                    <label title="good" for="man-3"></label>

                    <input id="man-2" type="radio" name="reviewMan"/>
                    <label title="regular" for="man-2"></label>

                    <input id="man-1" type="radio" name="reviewMan"/>
                    <label title="poor" for="man-1"></label>

                    <input id="man-0" type="radio" name="reviewMan"/>
                    <label title="bad" for="man-0"></label>
                </div>
            </div>
            <div id="budjet" class="col-xs-2">
                <p>1000$</p>
            </div>
            <div id="date-fly" class="col-xs-2">
                 <p>Украина</p>
            </div>
            <div id="mail-answer" class="col-xs-2">
                <div class="mail-answer"><i class="fa fa-envelope-o fa-lg"></i>2</div>
            </div>
        </div>    

    </div>
</body>
</html>
