<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>MAIN</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/checkbox.css">
    <link rel="stylesheet" href="css/style-raiting.css">
    <link rel="stylesheet" href="css/style-raiting-man.css">
    <link rel="stylesheet" href="css/calendar-ui.css">
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/script.js"></script>
</head>

<body>  
   
          <div id="checked-input">
                <input id="check-1" type="checkbox" name="checked"/>
                <label title="gorgeous" for="check-1"></label>
            </div>
            <div id="checked-input">
                <input id="check-2" type="checkbox" name="checked"/>
                <label title="gorgeous" for="check-2"></label>
            </div>
            <div id="checked-input">
                <input id="check-3" type="checkbox" name="checked"/>
                <label title="gorgeous" for="check-3"></label>
            </div>
 
</body>
</html>












