<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>MAIN</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-raiting-man.css">   
</head>
<body>  

<!--ВЕРХНИЙ ФИЛЬТР-->
    <div class="tender-board">
        <div id="tender-list-select" class="tender-list-select kabinet-container row">
            <div id="country" class="col-xs-2">
                <select class="select" name="menu" size="1" value="sad">
                    <option value=”Значение”>Страна</option> 
                    <option value=”Значение”>Страна</option> 
                    <option value=”Значение”>Страна</option> 
                </select>    
            </div>
            <div id="city" class="col-xs-2">
                <select class="select" name="menu" size="1" value="sad">
                    <option value=”Значение”>Город</option> 
                    <option value=”Значение”>Город</option> 
                    <option value=”Значение”>Город</option> 
                </select>
            </div>

            <div id="budjet" class="col-xs-2">
                <select class="select" name="menu" size="1" value="sad">
                    <option value=”Значение”>Бюджет</option> 
                    <option value=”Значение”>Бюджет</option> 
                    <option value=”Значение”>Бюджет</option> 
                </select>
            </div>
            <div id="select-new" class="col-xs-2">
                <select class="select" name="menu" size="1" value="sad">
                    <option value=”Значение”>Новые</option> 
                    <option value=”Значение”>Новые</option> 
                    <option value=”Значение”>Новые</option> 
                </select>    
            </div>
            <div id="hot-tourse" class="col-xs-2">
                 <input type="checkbox">
                <span>Горячие путевки</span>
            </div>
            <div class="col-xs-2 tender-list-button-filtr">
                <a id="filtr" class="filtr-button" href="#">Применить фильтр</a>
            </div>
        </div>
    </div>    
    
    
    <div class="tender-list-zag kabinet-container row">
        <div class="col-xs-2">
            Размещено
        </div>
        <div class="col-xs-2">
            Страна
        </div>
        <div class="col-xs-2">
            Туристов
        </div>
        <div class="col-xs-2">
            Бюджет
        </div>
        <div class="col-xs-2">
             Дата Вылета
        </div>
        <div class="col-xs-2">
            
        </div>
    </div>

    
    <div id="tender-list-generate" class="tender-list-generate kabinet-container row">
        <div id="country" class="col-xs-2">
            <p>Украина, Киев</p>
        </div>
        <div id="city" class="col-xs-2">
            <p>Киев</p>
        </div>
        
        <div id="turist" class="col-xs-2">
            <div id="reviewMan-input">
                <input id="man-4" type="radio" name="reviewMan"/>
                <label title="gorgeous" for="man-4"></label>

                <input id="man-3" type="radio" name="reviewMan"/>
                <label title="good" for="man-3"></label>

                <input id="man-2" type="radio" name="reviewMan"/>
                <label title="regular" for="man-2"></label>

                <input id="man-1" type="radio" name="reviewMan"/>
                <label title="poor" for="man-1"></label>

                <input id="man-0" type="radio" name="reviewMan"/>
                <label title="bad" for="man-0"></label>
            </div>
        </div>
        <div id="budjet" class="col-xs-2">
            <p>1000$</p>
        </div>
        <div id="date-fly" class="col-xs-2">
             <p>12.11.2015</p>
        </div>
        <div class="col-xs-2 tender-list-button-coment">
            <a id="filtr" class="coment-button" href="#">Отправить отклик</a>
        </div>
    </div>
    
    
    
    <div id="pageinator" class="pageinator kabinet-container row">
        <ul>
            <li><a href="#prev"><i class="left-icon fa fa-angle-double-left fa-lg"></i></a></li>
            <li><a href="#1">1</a></li>
            <li><a href="#3">2</a></li>
            <li><a href="#3">3</a></li>
            <li><a href="#next"><i class=" right-icon fa fa-angle-double-right fa-lg"></i></a></li>
        </ul>
    </div>

</body>
</html>







