/*sprite with stars*/
#reviewMan-input input:checked ~ label, #reviewMan-input label, #reviewMan-input label:hover, #reviewMan-input label:hover ~ label {
  background: url(../images/man.png) no-repeat;
}

#reviewMan-input {
  
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  
  position: relative;
  
}

#reviewMan-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  
  width: 22px;
  height: 21px;
  
  position: absolute;
  top: 0;
  z-index: 0;
}

#reviewMan-input input:checked ~ label {
  background-position: 0 -22px;
  height: 24px;
  width: 22px;
}

#reviewMan-input label {
  background-position: 0 0;
  height: 22px;
  width: 22px;
  float: right;    
  cursor: pointer;
  margin-right: 4px;
  
  position: relative;
  z-index: 1;
}

#reviewMan-input label:hover, #reviewMan-input label:hover ~ label {
  background-position: 0 -22px;
  height: 24px;
  width: 22px;
}

#reviewMan-input #man-0 {
  left: 0px;
}
#reviewMan-input #man-1 {
  left: 20px;
}
#reviewMan-input #man-2 {
  left: 40px;
}
#reviewMan-input #man-3 {
  left: 80px;
}
#reviewMan-input #man-4 {
  left: 100px;
}
#reviewMan-input #man-5 {
  left: 110px;
}