#center-layer{
    display: none;
}


/*ВЕРХНИЙ ФИЛЬТР*/


.tender-list-select{
    margin-top: 20px;
}

.tender-list-select > *{
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
    margin-left: 0;
    
}


.tender-list-select .col-xs-2{
    padding-left: 0;
}

.tender-list-select .select {
    width: 80%;
    height: 40px;
    box-shadow: none;
    outline: none;
    margin-left: 0;
    border: 1px solid #8e8e8e;
    padding-left: 10px;
    color: #8e8e8e;
}

.tender-list-select #hot-tourse{
    padding-top: 25px;
    color: #8e8e8e;    
}



.filtr-button{
    box-sizing: border-box;
    display:block;
    height: 40px;
    border:2px solid #8e8e8e;
    background: #8e8e8e;
    text-align: center;
    padding-top: 12px;
    font:12px/1 Arial,sans-serif;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}


.filtr-button:hover{
    background: #ffbf51;
    border-color: #ffbf51;    
    text-decoration: none;
    color: #fff;
}

.filtr-button:focus{
    text-decoration: none;
    color: #fff;
}




/*ГЕНЕРИРУЮЩИЙСЯ СПИСОК ТЕНДЕРОВ*/

/*ЗАГОЛОВОК*/

.tender-list-zag{
    margin-top: 70px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    font:14px/1 Arial,sans-serif;
    font-weight: bold;
    color: #131313;
}

.tender-list-zag .col-xs-2{
    padding-left: 0;
}

/*СПИСОК*/

.tender-list-generate{
    margin-top: 25px;
    text-transform: none;
    font-size: 14px;
    padding-bottom: 20px;
    padding-right: 0;
    border-bottom: 1px solid #8e8e8e;
}

.tender-list-generate .col-xs-2{
    padding-left: 0;
}

.tender-list-generate .col-xs-2 p{
    padding-top: 12px;
}


.tender-list-button-coment{
    padding-right: 0;
}

.coment-button{
    box-sizing: border-box;
    display:block;
    height: 40px;
    border:2px solid #8e8e8e;
    background: #fff;
    text-align: center;
    padding-top: 12px;
    font:12px/1 Arial,sans-serif;
    color:#8e8e8e;
    text-decoration: none;
    margin-right: 0;
    text-transform: uppercase;
    font-weight: 600;
}


.coment-button:hover{
    background: #ffbf51;
    border-color: #ffbf51;    
    text-decoration: none;
    color: #fff;
}

.coment-button:focus{
    text-decoration: none;
}






/*ССЫЛКИ СТРАНИЦ*/


.pageinator{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 70px;
}


.pageinator ul{
    position: relative;
    left: 50%;
    float: left;
}

.pageinator ul li{
    position: relative;
    list-style-type: none;
    float: left;
    color: #626262;
    right: 50%;
}


.pageinator ul li a{
    color: #626262;
    display: block;
    padding: 17px 20px;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-right: 15px;
    text-decoration: none;
}


.pageinator ul li a:hover{
    background: #dadada;
}


















