/* header block */
.page-header-navigation{
    padding-bottom: 30px;
    margin: 20px 10px 20px;
    border-bottom: 1px solid #EEE;
}

/* center-block */
#center-block{
	height: 600px;
	background: #eee;
	border: 1px solid #eee;
}

/* button for tender */
#tenderput-button{
  width: 194px;
  margin: 50px auto;
}

 


/* tender */
.form-control-tender{
    width: 24%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.tenderbutton{
	margin-left: 288px;
}

.registr-bt{
	margin-left: 374px;
}

/*registration*/
.form-control-registration{
    width: 24%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.registr-name{
 
    padding-bottom: 10px;
	margin-left: 374px;
	
}

.bubl-name{
	
	padding-bottom: 5px;
    margin-left: 276px;
	
}

.bt-col{
	height: 168px;
}

.bt-sell{
	
	padding-top: 5px;
}

.bt-sell-both{
	
	padding-top: 70px;
}

.tender-default-tittle{
	text-align: center;
}

.current-rate{
	text-align: right;
	line-height: 1px;
}

.table-tender-responses{
	padding-top: 28px;
}

.opportunities-turagent, .opportunities-tourist{
	margin-top: 45px;
}

.opportunities-tourist-right-info{
	margin-top: 125px;
}

.komment, .add-file{
	margin-top: 15px;
}

.btn-send, .right-info-btn{
	display: block;
}

.status-line, .status{
	display: inline-block;
}

.right-info-btn{
	 margin-top: 15px;
}

.dashboard-empty-block{
	height: 450px;
}

.sorting-info{
	font-size: 22px;
}

.dashboard-info-block{
	margin-top: 25px;
}

/* main page*/
.title-blocks{
height: 160px;
background: #F2F2F2 none repeat scroll 0% 0%;
padding: 5px;
cursor: pointer;
margin-top: 40px;
width: 125px;
margin-left: 38px;
}
.main-block-name{
	color: #838390;
	font-weight: 600;
}
.title-blocks:hover{
	border: 6px solid #EE0B41;
	transition: 0.3s ease-out 0.1s;
}

.main-block-content{
	padding-top: 40px;
	text-align: center;
}
.main-block-info{
	padding-top: 10px;
	font-size: 18px;
	text-align: center;
	color: #EE0B41;
}
.title-top-block{
	height: 110px;
}
.logo-icon{
height: 110px;
background: #EEE ;
width: 400px;
margin: 10px auto;
}
.logo-icon-block{
	height: 130px;
}
.title-main-block{
	height: 252px;
}
.internal-title-main-block{
	height: 240px;
    width: 850px;
    margin: 0px auto;
	
}
.logo-name{
	text-align: center;
	font-size: 25px;
	
}
.logo-info-block{
	height: 100px;

}
.internal-logo-block{
	height: 140px;
	width: 400px;
	margin-left: 370px;
	color: #FFF;
	
}
.info-under-logo{
	text-align: center;
	font-size: 24px;
	line-height: 25px;
}
.mein-registration-form{
	width: 90%;
	margin: 2px 5px 0px 5px;
}

.registr-btn-group{
	width: 190px;
	float: right;
    margin-top: 20px;
	
}
.mein-registration-form-bt{
border-radius: 50%;
position: absolute;
left: 135px;
top: 80px;
width: 24px;
height: 23px;
border: 1px solid #fff;
text-align: ;
background: #C7C7C7;
color: #fff;
cursor: pointer;
text-align: center;
}
.mein-registration-form-bt:hover{
    color: red;
	border: 1px solid #EE5075;
}
.reristration-text{
	padding: 2px 1px 0px 7px;
}
.main-tender-btn{
	font-size: 17px;
	padding: 5px 5px 5px 5px;
	text-transform: uppercase;
}
.serch-icon{
	display: inline-block;
	padding-left: 7px;
}
.main-tender-btn-block{
	width: 210px;
    margin: 0px auto;
	background: #EE0B41;
	color: #fff;
	font-size: 14px;
	height: 40px;
	cursor: pointer;
	border-bottom: 5px solid #AB052C;
}
.main-tender-btn-block:hover{
	transition: 0.7s ease-out 0.1s;
	color: #EE0B41;
	background: #fff;
	border-bottom: 2px solid #AB052C;
}
.search-icon{
	display: inline-block;
	padding: 10px 5px 10px 20px;
}
.main-tender-btn-name{
	font-weight: 600;
	display: inline-block;
	padding: 10px 0px 10px 10px;
	
}
.main-view-tender-block{
	height: 100px;
}
.main-view-tender-inside-block{
   height: 50px;
   width: 255px;
   margin: 15px auto;
}
.or{
	text-align: center;
	color: #FFF;
}
.view-tender-bt{
    height: 35px;
	cursor: pointer;
}

@keyframes sprin{
		from{
		 transform: rotate(0deg);	
		}
		to{
		 transform: rotate(360deg);	
		}
}
	
	
	
.view-tender-bt-text{
	font-size: 16px;
	font-weight: 600;
	color: #F2F2F2;
    padding: 6px 10px;
	display: inline-block;
}
.spinning-icon{
	color: #F2F2F2;
	display: inline-block;
	padding: 6px 5px;
	
	
	animation-name: sprin;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	
}
.all-text{
	text-transform: uppercase;

}
.registr-bt-1{
	display: inline-block;
    padding-left: 20px;
	
}
.registr-bt-2{
	display: inline-block;
    padding-left: 15px;
}
.registr-bt-text{
	color: #fff;
	font-weight: 600;
	text-decoration: none;
	
}
.registr-bt-text:hover{
	text-decoration: none;
	color: #EE0B41;
}
.registr-bt-text:link{
	text-decoration: none;
}

.registr-bt-menu-styles1{
	background: inherit;
    margin-left: 20px;
}
.registr-bt-menu-styles2{
	background: inherit;
    margin-left: 15px;
	min-width: 100%;
	text-align: center;
}
.registration-man:hover{
	cursor: pointer;
	color: #EE0B41;
}
.main-tender-btn-block-link{
	color: #fff;
	text-decoration: none;
}
.main-tender-btn-block-link:hover{
	color: #EE0B41;
	text-decoration: none;
}


/* sidebar */
.logo-plase{
	height: 63px;
	background: #eee;
}
.sidebar-bt{
	background: #bebebe;
	height: 75px;
}
.header-menu{
	float: right;
}