.main-container{
    max-width:1080px;
    margin: 0 auto;
}

body{
    background: #fff;
    font:14px/1 Arial,sans-serif;
    min-height:200px;
}

.header {
    height: 70px; /* Высота слоя в пикселах */
    position: relative;
}

.header-menu {
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
}

.log-reg {
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
    text-transform: uppercase;
}

.account{
    margin-left: 20px;
    cursor: pointer;
}

.center-layer {
    position: absolute; 
    width: 100%; /* Ширина слоя в пикселах */
    top: 70px; /* Положение слоя от верхнего края */
    background: url('http://lookw.ru/1/142/1380316328-331145-moril.jpg') no-repeat 0 0 ;
    background-size: cover;
    bottom: 0;
    text-align: center;
    color: #fff;
    transition: bottom .2s linear;
}

.center-layer.active{
    bottom:180px;
}

.center-layer:after{
    content:"";
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background:rgba(0,0,0,.5);
}

.center-layer-head{
    position: absolute;
    left: 50%;
    top:50%;
    margin-top:-50px;
    max-width:35%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.center-layer-title{
    text-transform: uppercase;
    font-size: 24px;
}

.center-layer-text{
    font-size: 16px;
    line-height: 1.5;
    margin-top: 30px;
}

.view-tenders{
    display: inline-block;
    margin-top: 30px;
    padding: 10px 15px;
    text-transform: uppercase;
    border:2px solid #fff;
}

.view-tenders, .view-tenders:hover{
    color: #fff;
    text-decoration: none;   
}

.publication-link{
    position: absolute;
    bottom:30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-size:20px;
    cursor:pointer;
}



.tender-menu {
    position: absolute; /* Абсолютное позиционирование */
    width: 100%; /* Ширина слоя в пикселах */
    height: 0; /* Высота слоя в пикселах */
    left: 50%; /* Положение слоя от левого края */
    bottom: 0; /* Положение слоя от верхнего края */
    transform: translateX(-50%);
    opacity: 0;
    transition: height .2s linear, opacity .2s linear;
    overflow: hidden;
}



.tender-menu #budjet input{
    margin-top: 27px;
}



.tender-menu.active{
    opacity: 1;
    height:180px;
}


.tender-menu > *{
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.tender-menu .col-xs-2 p{
    margin-top: 15px;
    text-decoration: underline;
}

.tender-menu > *.tender-menu-button-next{
    padding-top: 85px;
}



.tender-menu .input{
    width: 100px;
    box-shadow: none;
    outline: none;
}



.next-button{
    box-sizing: border-box;
    display:block;
    height: 50px;
    width: 120px;
    border:2px solid #000;
    text-align: center;
    padding-top: 16px;
}

.next-button{
    color:#000;
    text-decoration: none;
}

.next-button:hover{
    background: #e4d9d9;
    text-decoration: none;
    color: #000;
}

.next-button:focus{
    text-decoration: none;
    color: #000;
}


/*MODAL WINDOWS LOGIN REGISTRATION*/

#overlay{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 99;
    background: rgba(0,0,0,.3);
    transition: all .2s linear;
    opacity:0;
    visibility: hidden;
}



#overlay.active{
    opacity:1;
    visibility: visible;
}

.modal-window{
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background: #fff;
    width:100%;
    max-width:400px;
    max-height:90%;
    padding:20px;
    height:300px;
    transition: all .2s linear;
    opacity:0;
    visibility: hidden;

}

.modal-window.active{
    opacity:1;
    visibility: visible;
}

.modal-close{
    position: absolute;
    right: 5px;
    top:5px;
    cursor:pointer;
}



/*MENU*/

.modal-menu{
   position: fixed;
    left:0;
    right:0;
    top:900px;
    bottom:0;
    z-index:9999;
    opacity: 0;
    background: #000;
    transition:  .6s linear;
}

.modal-menu.active{
    top: 70px;
    opacity: 0.9;


}

.content-menu{
margin-top: 100px;
}



/*MENU*/

.navigation ul{
    list-style:none;
    float: right;
    padding-right: 100px;
    height: 385px;
}

.navigation li{
    position:relative;
    list-style-type: none;
    width: 260px;
    text-align: center;
}

#overlay-menu{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: 99;
    background: rgba(0,0,0,.3);
    transition: all .2s linear;
    opacity:0;
    visibility: hidden;
}

.navigation li a:hover{
    text-decoration: underline;
}


#overlay-menu.active{
    opacity:1;
    visibility: visible;
}

.modal-menu{
    position: fixed;
    left:50%;
	width:25px;
	height:25px;
	margin-left:-15px;
	content:'';
	background:url(../images/phone.png) no-repeat ;
}








.hot-line-number span{
    line-height: 50px;
}



.button-zvonok{
    box-sizing: border-box;
    display:block;
    height: 50px;
    width: 170px;
    border:1px solid #fff;
    text-align: center;
    padding-top: 16px;
    margin-top: 40px;
    color: #fff;
    font:16px Arial,sans-serif;
}

.button-send{
    box-sizing: border-box;
    display:block;
    height: 50px;
    width: 170px;
    border:1px solid #fff;
    text-align: center;
    padding-top: 16px;
    color: #fff;
    font:16px Arial,sans-serif;
}

.button-zvonok a, .button-send a{
    color:#fff;
    text-decoration: none;
}

.button-zvonok:hover, .button-send:hover{
    text-decoration: underline;
    color: #000;
}

.contacts p{
    margin: 0;
}

.contacts input[type=text]{
    border: none;
    box-shadow: none;
    background: #000;
    outline: none;
    border-bottom: 1px solid #fff;
    width: 170px;
    margin:  30px 0;
    color: #fff;
}

.contacts input[type=text]:hover{
    border-bottom: 1px solid #fff;
}

.contacts input::-webkit-input-placeholder {color:#413f3f;}
.contacts input:-moz-placeholder {color:#413f3f;}







/*SOCIALS*/




.social{
    position: relative;
    overflow: hidden;
}


.social ul{
    position: relative;
    left: 50%;
    float: left;
    padding: 0;
}

.social ul li{
    position: relative;
    list-style-type: none;
    float: left;
    color: #fff;
    left: -50%;
    margin-right: 15px;
    padding-top: 50px;
}

.social i{
    color: #fff;
}


.social i:hover{
    color: #868585;
}


/*EROR 404*/

.eror-404 img{
    position: absolute;
    left: 50%;
    top:50%;
    margin-top:-50px;
    max-width:35%;
    transform: translate(-50%,-50%);
    z-index: 100;
    background: #fff;
    width:100%;
    max-width:400px;
    max-height:90%;
    padding:20px;
    height:300px;
    transition: all .2s linear;
    opacity:100;
    visibility: hidden;

}

.modal-menu.active{
    opacity:100;
    visibility: visible;
    height: 1000px;
}

.modal-close{
    position: absolute;
    right: 5px;
    top:5px;
    cursor:pointer;
}
.massage div{
    position: absolute;
    bottom:250px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font:24px/1 Arial,sans-serif;   
}
.massage div span{
    font-weight: bold;
    text-decoration: underline;
}




/*МОБ ВЕРСИЯ*/


@media screen and (max-width: 880px){

    .tender-menu{padding-top: 10px;}

    .tender-menu .col-xs-2{width: 100%; text-align: center; margin: 10px 0 0 0; padding: 0;}

    .center-layer.active{ bottom:450px;}

    .tender-menu.active{ opacity: 1; height:450px; }

    .next-button{ display:inline-block;}

   #reviewMan-input, #reviewStars-input{ margin-top: 0;  left:50%; transform: translateX(-50%); height: 25px;}

    .tender-menu .col-xs-2 p{ text-decoration: underline; margin: 0; padding: 0;}

    .tender-menu #people p, .tender-menu #stars p,  .tender-menu #budjet p{margin-bottom: 0;}

    .tender-menu #budjet input, .tender-menu #country input{margin-top: 0;}

    .tender-menu .input{width: 150px; margin-left: 0;}

    .country .input { margin-top: 0;}




    
.center-layer-title{
    text-transform: uppercase;
    font-size: 18px;
}

.center-layer-text{
    font-size: 14px;
    line-height: 1.2;
    margin-top: 15px;
}

.view-tenders{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    text-transform: uppercase;
    border:2px solid #fff;
}
    
    
/*MENU*/
    
    .content-menu{margin-top: 10px;}

    
    .navigation-menu, .contacts-menu{ width: 100%; margin: 0;  padding: 0;}
    
    .navigation ul{ width: 100%; margin: 0; padding: 0; height: auto;}
    
    .navigation li{margin: 0 auto;}
    
    .navigation li a { padding: 20px;}
    
    .contacts{padding: 0; margin-top: 70px;  float: none;}
    
    .hot-line-number{display: block; margin: 0 auto; margin-bottom: 50px;}
    
    .button-zvonok {display: block; margin: 0 auto; margin-bottom: 25px;}
    
    .contacts input[type=text]{display: block; margin: 0 auto; margin-bottom: 25px;}
    
    .button-send{display: block; margin: 0 auto;}

}

 /*_________________________kabinetTourist______________________________*/
/*_________________________kabinetTourist______________________________*/
/*_________________________kabinetTourist______________________________*/
/*_________________________kabinetTourist______________________________*/


.kabinet-tourist{
    margin-top: 120px;
}

/*HEADER NAVIGATION*/

.search{
    position: absolute;
    right:  200px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
    text-transform: uppercase;
}

.search-bt{
    position: absolute;
    right: 170px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.out-bt{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.search input[type=search]{
    height: 35px;
}


.kabinet-link:nth-child(3){
    margin-right: 400px;
}

.kabinet-link a{
    margin-left: 20px;
    color: #000;
}

.kabinet-link a:hover{
    text-decoration: underline;
}

/*КАБИНЕТ-ТУРИСТ-МЕНЮ*/


.kabinet-tourist-menu{
    margin-bottom:70px; 
}

.kabinet-tourist-menu li{
    float: left;
    list-style-type: none;
    display: block;
}

.kabinet-tourist-menu li a{
    padding: 15px 30px;
    margin-right: 10px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}
.kabinet-tourist-menu li a:hover{
    background: #e6e6e8;
}

.kabinet-tourist-menu li a:focus{
    background: #e6e6e8;
}



/*TABLE TOURSE*/

.glyphicon{
    margin-right: 5px;
}

/*_________________________formRegistration______________________________*/
/*_________________________formRegistration______________________________*/
/*_________________________formRegistration______________________________*/
/*_________________________formRegistration______________________________*/

.registration-form .title-registration{    
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    text-align: center;
    font:24px/1 Arial,sans-serif;
    z-index: 10;
    
}

registration-form{
    overflow:hidden;
}
.registration-form .registration{    
    text-align: center;
    font:24px/1 Arial,sans-serif;
    margin-top: 150px;
}


 .button-registration input{
    width: 50%;
    height: 100px;
}

/*ВСПЛЫВАЮЩИЕ ФОРМЫ РЕГИСТРАЦИИ*/

/*РЕГИСТРАЦИЯ туриста*/

.form-registration-tourist{
    position: fixed;
    left:50%;
    right:0;
    top:900px;
    bottom:0;
    z-index: 10;
    opacity: 0;
    background: #000;
    transition:  .6s linear;
    overflow:hidden;
}

.form-registration-tourist.active{
    top: 70px;
    opacity: 0.9;
    overflow:hidden;
}

#button-agent.active{
    display: none;
}


.form-registration-tourist .send-number-tourist{
    margin-top:20px;
    text-align: center;
    color: #fff;
    font:20px/1 Arial,sans-serif;
    font-weight: 500;
}



.form-registration-tourist .send-number-tourist input[type=text]{
    margin-top: 50px;
    background: #000;
    border: 1px solid #fff;
    outline: none;
    color: #fff;
}

.form-registration-tourist .send-number-tourist input[type=button]{
    margin-top: 30px;
    background: #000;
    width: 200px;
    height: 50px;
    font:16px/1 Arial,sans-serif;
}


.form-registration-tourist .send-number-tourist input[type=button]:hover{
    background: #fff;
    color: #000;
}


/*РЕГИСТРАЦИЯ агента*/

.form-registration-agent{
   position: fixed;
    left:0;
    right:50%;
    bottom:0;
    z-index: 10;
    opacity: 0;
    top: 900px;
    background: #000;
    transition:  .6s linear;
    overflow:hidden;
}

.form-registration-agent.active{
    top: 70px;
    opacity: 0.9;
    overflow:hidden;
    

}

#button-tourist.active{
    display: none;
}