/*sprite with stars*/
#people_sum input:checked ~ label, #people_sum label, #people_sum label:hover, #people_sum label:hover ~ label {
  background: url(../images/man.png) no-repeat;
}

#people_sum {
  
  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;
  /*end of fix floating problems*/
  
  position: relative;
  float: left;
  margin-top: 10px;
}

#people_sum input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  
  width: 22px;
  height: 21px;
  
  position: absolute;
  top: 0;
  z-index: 0;
}

#people_sum input:checked ~ label {
  background-position: 0 -22px;
  height: 24px;
  width: 22px;
}

#people_sum label {
  background-position: 0 0;
  height: 22px;
  width: 22px;
  float: right;    
  cursor: pointer;
  margin-right: 4px;
  
  position: relative;
  z-index: 1;
}

#people_sum label:hover, #people_sum label:hover ~ label {
  background-position: 0 -22px;
  height: 24px;
  width: 22px;
}

#people_sum #man-0 {
  left: 0px;
}
#people_sum #man-1 {
  left: 20px;
}
#people_sum #man-2 {
  left: 40px;
}
#people_sum #man-3 {
  left: 80px;
}
#people_sum #man-4 {
  left: 100px;
}
#people_sum #man-5 {
  left: 110px;
}